<% provide(:title, 'Contact') %>
<h1>Street Sports Blog - Contact</h1>
<p>
  This is the contact page for the
  <a href="http://www.streetsportstrnava.sk/">Street Sports Blog</a>
  sample application.
</p>