<footer class="footer">
  <small>
    <a href="http://www.streetsportstrnava.sk/">Street Sports Trnava</a>
    by Branislav Bilský
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>